body {
  position: relative;
  font-family: arial;
  font-size: 15px;
  color: #5e5e5e;
  display: block;
  padding-top: 50px;
}

.container {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 830px;
  width: 100%;
  margin: 0px auto;
}

.player {
  position: relative;
  max-width: 830px;
  background-color: gray;
  padding-top: 56.25%;
}

.player video {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}

.control .icon {
  display: block;
  margin: 0px 10px;
  width: 30px;
  cursor: pointer
}

.list {
  display: grid;
  margin: 10px 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 830px;
}

@media only screen and (min-width: 425px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.list .poster {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.list .poster img {
  width: 100%;
}

.list .poster .name {
  display: block;
  margin: 10px 0px;
}

.info {
  position: absolute;
  display: none;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  z-index: 10;
  font-size: 12px;
}